
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    Vui lòng điền đầy đủ thông tin trước khi thanh toán hoặc số lượng hàng trong kho không đủ.
</div>



