
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="wrap">
        <div class="box1" style="margin:35px auto;max-width:960px;">
            <div class="section group">
                <span class="alert alert-danger">Vui lòng điền đầy đủ thông tin trước khi thanh toán hoặc số lượng hàng trong kho không đủ.</span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>




