
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="login">
    <div class="wrap">
        <div class="box1" style="margin:35px auto;max-width:960px;">
            <span class="alert alert-success">Bạn vừa mua hàng thành công.</span>
        </div>
        <div class="clear"></div>
    </div>
</div>